body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

* {
  font-family: sans-serif;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.fullscreen > * {
  width: 100%;
  height: 100%;
}

.startscreen {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  align-content: center;
  text-align: center;
}

#testimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.startbutton {
  background: #ffffff;
  border: none;
  border-radius: 0.4em;
  margin: 0.5em 0;
  padding: 0.8em 2.2em;
  cursor: pointer;
  font-size: 1.4em;
}

#endScreen{
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  align-content: center;
  text-align: center;
  
  background-color: gray;
  border-radius: 0.4em;
  margin: 0.5em 0;
  padding: 0.8em 2.2em;
}

.flex{
  display: flex;
}

#timer{
  display: none;
  margin: 0.5em 0;
  padding: 0.8em 2.2em;
  text-align: center;
  position: relative;
  top: 10px;
}

#back {
  background: #ffffff;
  border-radius: 0.4em;
  margin: 0.5em 0;
  padding: 0.8em 2.2em;
  cursor: pointer;
  font-size: 1.4em;
}

#muteMusic{
  height: 50px;
  width: 50px;
  border: none;
  background: url("https://img.icons8.com/ios/50/000000/mute--v2.png");
  cursor: pointer;
}

#scoreCounter {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 40%;
  transform-style: preserve-3d;
  font-size: 90px;
  line-height: 90px;
  text-align: center;
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  
}

#finalScore{
  font-size: 2.2em;
}

.overlay {
  position: fixed;
  left: 20px;
  top: 20px;
  text-align: center;
}

a.back {
    display: none;
  padding: 5px 10px;
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

a.back:hover {
  background: #ddd;
}

#canvas {
  background-color: whitesmoke;
}
